/* colors ======================== */

$red: RGB(253, 49, 22);
$blue: RGB(51, 114, 222);
$aqua: RGB(97, 204, 225);
$green: RGB(25, 189, 87);
$yellow: RGB(242, 231, 107);
$orange: RGB(250, 87, 34);
$pink: RGB(226, 37, 105);
$navy: RGB(4, 53, 128);
$lime: RGB(52, 217, 80);
$purple: RGB(148, 82, 214);
$teal: RGB(87, 186, 216);
$black: RGB(29, 31, 33);
$gray: RGB(121, 121, 121);
$silver: RGB(192, 192, 192);
$white: RGB(255, 255, 255);

/* red */
.txt-red {
  color: $red;
}

.bg-red {
  background: $red;
}

/* blue */
.txt-blue {
  color: $blue;
}

.bg-blue {
  background: $blue;
}

/* green */
.txt-green {
  color: $green;
}

.bg-green {
  background: $green;
}

/* yellow */
.txt-yellow {
  color: $yellow;
}

.bg-yellow {
  background: $yellow;
}

/* orange */
.txt-orange {
  color: $orange;
}

.bg-orange {
  background: $orange;
}

/* pink */
.txt-pink {
  color: $pink;
}

.bg-pink {
  background: $pink;
}

/* navy */
.txt-navy {
  color: $navy;
}

.bg-navy {
  background: $navy;
}

/* lime */
.txt-lime {
  color: $lime;
}

.bg-lime {
  background: $lime;
}

/* purple */
.txt-purple {
  color: $purple;
}

.bg-purple {
  background: $purple;
}

/* teal */
.txt-teal {
  color: $teal;
}

.bg-teal {
  background: $teal;
}

/* black */
.txt-black {
  color: $black;
}

.bg-black {
  background: $black;
}

/* white */
.txt-white {
  color: $white;
}

.bg-white {
  background: $white;
}

/* gray */
.txt-gray {
  color: $gray;
}

.bg-gray {
  background: $gray;
}

/* aqua */
.txt-aqua {
  color: $aqua;
}

.bg-aqua {
  background: $aqua;
}

/* silver */
.txt-silver {
  color: $silver;
}

.bg-silver {
  background: $silver;
}
