/* display ======================== */

/* none */
.d-n {
  display: none;
}

/* inline */
.d-i {
  display: inline;
}

/* inline-block */
.d-ib {
  display: inline-block;
}

/* block */
.d-b {
  display: block;
}
